body {
  height: max-content;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #222831;
}

/* #F7CFD8, #F4F8D3, #A6D6D6, 8E7DBE */
/* #222831,#393E46,#00ADB5,#EEEEEE */

.book-css {
  font-size: 18px;
  color: #ffdfc2;
  margin-top: 100px;
  grid-template-columns: auto auto auto auto auto;
  gap: 12px;
  margin-bottom: 60px;
}
.chap-css {
  /* background-color: #fed4ad; */
  background-color: #00acb531;
  border: none;
  border-radius: 20px;
  width: 40px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #fed4ad;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #00adb5;
}

.verse-css {
  background-color: #00acb531;
  text-align: justify;
  border: none;
  width: auto;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  color: #fed4ad;
  font-weight: bold;
}

.chapter-number {
  text-align: center;
  margin-bottom: 18px;
  background-image: linear-gradient(to right, #00acb531, #00adb5, #00acb531);
  color: #fcd4ae;
}

.dailyBread-div {
  color: #fcd4ae;
}

.dailyVerse-sec {
  background-color: #00adb5;
}

.test-buttons button {
  background-color: #222831;
}

.testament-div {
  border: 2px solid #fcd4ae;
}

.testament-div a {
  color: #fcd4ae;
}
.test-buttons button {
  color: #fcd4ae;
}

.verse-div p {
  color: #eeeeee;
}

.footer-div {
  background-color: #00adb5;
  color: #fed4ad;
}

.verse-container {
  background-color: #222831;
}

.home-header-div {
  color: #fed4ad;
}
.header a {
  color: #fcd4ae;
  text-decoration: none;
}

.bc-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  text-align: center;
  color: #222831;
}

.bc-section {
  background-color: #fcd4ae;
}
.testaments {
  background-image: linear-gradient(to right, #00acb531, #00adb5, #00acb531);
  text-align: center;
  color: #fcd4ae;
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}
.old-books li,
.new-books li {
  list-style-type: none;
  border: 1px solid #00adb5;
  background-color: #00acb53b;
  padding: 5px;
  border-radius: 5px;
  line-height: 25px;
  margin: 4px;
}

.bookName-div,
.bookName-div2 {
  height: auto;
  color: #fcd4ae;
  display: flex;
  justify-content: space-around;
  padding: 4px;
}

.old-books ul,
.new-books ul {
  padding: 0;
}

.bookName-div2 {
  margin-bottom: 60px;
}

.header-div {
  color: #fcd4ae;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #00adb5;
}
/* || Media Queries */

@media (min-width: 374px) {
  body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    margin-bottom: 60px;
  }

  /* Home-css */

  .home-header {
    text-align: center;
    padding: 8px;
    background-color: #00adb5;
  }

  .home-header-div {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
  }

  .dailyVerse-sec {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: space-around;
    align-items: center;
    margin: 48px 56px;
    margin-top: 60px;
    padding: 25px;
    border: none;
    border-radius: 15px;
    height: 430px;
  }

  .dailyBread-div {
    font-size: 24px;
    text-align: center;
    margin-top: 8px;
    padding-top: 4px;
    font-weight: bold;
  }

  .verse-div,
  .dailyverse {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    font-style: italic;
    border-radius: 5px;
  }

  .test-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .testament-div {
    border-radius: 8px;
    padding: 10px;
  }

  .testament-div a {
    text-decoration: none;
  }
  /* navBar-css */

  .header-section {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .header-div {
    color: #fcd4ae;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }

  .footer {
    position: relative;
  }

  .footer-div {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: bold;
  }

  .book-head-section {
    margin-bottom: 24px;
  }

  .book-subSection {
    margin-top: 100px;
    margin-bottom: 24px;
  }

  .verse-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 24px;
    padding-top: 65px;
  }
}

@media (max-width: 375px) {
  body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    margin-bottom: 60px;
  }

  /* Home-css */

  .home-header {
    text-align: center;
    padding: 8px;
    background-color: #00adb5;
  }

  .home-header-div {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
  }

  .dailyVerse-sec {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: space-around;
    align-items: center;
    margin: 48px 56px;
    margin-top: 60px;
    padding: 25px;
    border: none;
    border-radius: 15px;
    height: 300px;
  }

  .dailyBread-div {
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
    padding-top: 4px;
    font-weight: bold;
  }

  .verse-div,
  .dailyverse {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    font-style: italic;
    border-radius: 5px;
  }

  .test-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .testament-div {
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
  }

  .testament-div a {
    text-decoration: none;
    font-size: 12px;
  }
  /* navBar-css */

  .header-section {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
  }

  .header-div {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }

  .footer {
    position: relative;
  }

  .footer-div {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: bold;
  }

  .book-head-section {
    margin-bottom: 24px;
  }

  .book-subSection {
    margin-top: 100px;
    margin-bottom: 24px;
  }

  .verse-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 14px;
  }
}

@media (min-width: 640px) {
  .header-div {
    font-size: 24px;
  }

  .bc-div {
    font-size: 18px;
    height: 25px;
  }

  .testaments {
    font-size: 25px;
  }

  .onBookClicked,
  .bookClicked {
    font-size: 16px;
  }

  .home-header-div {
    font-size: 40px;
  }

  .test-buttons {
    gap: 40px;
  }

  .testament-div {
    padding: 15px;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .dailyVerse-sec {
    margin-top: 70px;
    padding: 0;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .verse-container {
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  .header-div {
    font-size: 24px;
  }

  .bc-div {
    font-size: 20px;
    height: 25px;
  }

  .testaments {
    font-size: 30px;
  }

  .onBookClicked,
  .bookClicked {
    font-size: 18px;
  }

  .home-header-div {
    font-size: 40px;
  }

  .verse-container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    padding-top: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .dailyVerse-sec {
    padding: 0;
    margin-top: 45px;
    margin-right: 350px;
    margin-left: 350px;
    height: 500px;
  }
  .dailyBread-div {
    font-size: 25px;
  }
  .verse-div {
    font-size: 18px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: none;
  }

  .test-buttons {
    gap: 20px;
  }

  .testament-div {
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .testament-div a {
    font-size: 20px;
  }
}

@media (min-width: 1140px) {
  .header-div {
    font-size: 28px;
  }

  .bc-div {
    font-size: 20px;
    height: 25px;
  }

  .testaments {
    font-size: 30px;
  }

  .onBookClicked,
  .bookClicked {
    font-size: 20px;
  }

  .dailyVerse-sec {
    margin-left: auto;
    margin-right: auto;
  }

  .dailyVerse-sec {
    margin-top: 80px;
  }
}
