body{
  /* background-image: url(1.webp);
  background-repeat: no-repeat;
  background-size: cover; */
  margin:0%;
  padding: 0%;
}
.header-nav{
  width:max-content;
  display:flex;
  justify-content: space-between;
  padding:30px;
  background-color:rgb(252, 227, 201);
  color:rgb(31, 154, 123);
  font-size:18px;
  font-weight:bold;
}

.app-name{
  font-size: 28px;
  font-weight:bold;
  font-style:oblique;
}

.nav{
  display:flex;
  justify-content:space-between;
  width:400px;
}
.nav li{
  list-style-type: none;
}